@model IEnumerable<MVCWebsite.Models.General>

@{
    ViewBag.Title = "Generals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>List of Generals</h2>
<p>
    A list of generals, some headings are sortable click on them to sort.
</p>
<form id="SearchForm">
    <label for="SearchBar">
        Enter keywords for search:
        <input type="text" id="SearchBar" name="SearchString" value="@Request.Params["SearchString"]">
    </label>
    <div class="checkbox-div">
        <label for="CountryCheckbox"> Country
            <input type="checkbox" id="CountryCheckbox" name="SearchCountry" value="True">
        </label>
        <label for="NameCheckbox"> Name
            <input type="checkbox" id="NameCheckbox" name="SearchName" value="True">
            </label>
        <label for="CommentsCheckbox"> Comments
            <input type="checkbox" id="CommentsCheckbox" name="SearchComments" value="True">
        </label>
    </div>
    <input type="submit" value="Search" on/>

</form>
<table class="table">
    <tr class="table-title">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th class="non-sortable">
            @Html.DisplayNameFor(model => model.Wiki_link)
        </th>
        <th class="non-sortable">Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                <a href="@Html.DisplayFor(model => item.Wiki_link)">@Html.DisplayFor(model => item.Wiki_link)</a>
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ID })
            </td>
        </tr>
    }

</table>
@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/generalController")
}