@model IEnumerable<MVCWebsite.Models.General>

@{
    ViewBag.Title = "Generals";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>List of Generals</h2>
<form>
    <p>
        Search name or country: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <tr class="table-title">
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Country)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Comments)
        </th>
        <th class="non-sortable">
            @Html.DisplayNameFor(model => model.Wiki_link)
        </th>
        <th class="non-sortable">Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Country)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Comments)
            </td>
            <td>
                <a href="@Html.DisplayFor(model => item.Wiki_link)">@Html.DisplayFor(model => item.Wiki_link)</a>
            </td>
            <td>
                @Html.ActionLink("Details", "Details", new { id = item.ID })
            </td>
        </tr>
    }

</table>
