@model IEnumerable<MVCWebsite.Models.Date>
@{
    ViewBag.Title = "Dates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    @Scripts.Render("~/bundles/dateController")
}

<h2>Dates</h2>
<p>
    clikc on the time stamp heading to change the sorting order add or remove as you like.
    (changes are permantly stored)
</p>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr class="table-title">
        <th id="@Html.DisplayNameFor(Model => Model.Time)">
            @Html.DisplayNameFor(model => model.Time)
        </th>
        <th class="non-sortable">Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>

