@model PagedList.IPagedList<MVCWebsite.Models.Date>
@using PagedList.Mvc;
@{
    ViewBag.Title = "Dates";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Scripts {
    @Scripts.Render("~/bundles/dateController")
    @Styles.Render("~/Content/pagination")
}

<h2>Dates</h2>
<p>
    Click on the time stamp heading to change the sorting order add or remove as you like.
    (changes are permantly stored)
</p>
<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr class="table-title">
        <!--Need to get display name for but can't do that without-->
        <th id="Time">
            Time
        </th>
        <th class="non-sortable">Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Time)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
 @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount

@Html.PagedListPager(Model, pageNum => Url.Action("Index",
    new { pageNum }))