<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Lyndons MVC</title>
    @Styles.Render("~/Content/css")
</head>
<body>
    <nav>
        <a href="http://lyndonmackay.com/">Home</a>
        <a href="/generals">Generals</a>
        <a href="/dates">Dates</a>
        <a href="/">index</a>
    </nav>
    <div class="center-div">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("css", required:false)

</body>
</html>

