<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title - Lyndon's MVC</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/jquery")
    @RenderSection("scripts", required: false)
    @RenderSection("css", required: false)

</head>
<body>
    <nav>
        <a href="http://lyndonmackay.com/">Home</a>
        <a href="/generals">Generals</a>
        <a href="/dates">Dates</a>
        <a href="/">Index</a>
    </nav>
    <div class="center-div main-div">
        @RenderBody()
    </div>

</body>
</html>

